body {
    background-color: #eee;
}
.preview, .folders, .buttons {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid #999;
}
.preview {
    text-align: center;
}

.subfolders {
    padding: 10px 0;
}

#rootpath {
    width: 50%;
}

#subfolders {
    width: 400px;
}
img#image {
    max-width: 550px;
    max-height: 400px;
}

/*==================status==================*/
#status {
    display: none;
}

#status.success {
    display: block;
    background-color: lightgreen;
    color: #117711;
    min-height: 20px;
}

#status.error {
    display: block;
    background-color: red;
    color: white;
    min-height: 20px;
}

/*==================switch spans for "create new subfolder"==================*/

.sfbtn_s1 span {
    display: inline;
}
.sfbtn_s1 span+span {
    display: none;
}

.sfbtn_s2 span {
    display: none;
}

.sfbtn_s2 span+span {
    display: inline;
}
